.btn {
    border-radius: .125rem;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
    padding: .5rem .75rem;
    cursor: pointer;

    &-sm {
        font-size: .75rem;
        padding: .25rem .75rem;
    }

    &-primary {
        background-color: $color-theme-primary;
        border-color: $color-theme-primary;

        &:hover, &:active {
            background-color: darken($color-theme-primary, 5);
            border-color: darken($color-theme-primary, 5);
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($color-theme-primary,.5);
        }

        &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active, .show > &.dropdown-toggle {
            background-color: darken($color-theme-primary, 5);
            border-color: darken($color-theme-primary, 5);
            box-shadow: 0 0 0 0.2rem rgba($color-theme-primary,.5);
        }
    }
}


.btn-outline-primary {
    color: $color-theme-primary;
    border-color: $color-theme-primary;

    &:hover {
        background-color: $color-theme-primary;
        border-color: $color-theme-primary;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($color-theme-primary,.5);
    }

    &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active, .show > &.dropdown-toggle {
        background-color: $color-theme-primary;
        border-color: $color-theme-primary;
        box-shadow: 0 0 0 0.2rem rgba($color-theme-primary,.5);
    }
}
